<div class="container main-container" >
  <div class="d-flex flex-row align-items-center">
    <div class="col-8">
      <h1>Fire<i-feather name="message-square"></i-feather><small>Chät</small></h1>
    </div>

    <div class="col-4 text-right" *ngIf="chatService.usuario.uid">
      <button type="button" class="btn btn-outline-danger"
                (click)="chatService.logout()">
        Salir
      </button>
    </div>

  </div>

  <app-login *ngIf="!chatService.usuario.uid"></app-login>
  <div class="chat-window" *ngIf="chatService.usuario.uid">
    <app-chat></app-chat>
  </div>
</div>





<!-- <ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat.mensaje}}
  </li>
</ul> -->
